@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins';
    background-color: #fbfafa;
    background-color: hsl(34, 26%, 95%);
    /* background-color: rgb(250, 250, 250); */
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 6px 6px solid rgb(210, 11, 11);
    box-shadow: solid rgb(210, 11, 11) 6px 6px 6px;
    /* border: 1px solid #8888; */
    box-shadow: 0px 0px 18px #d6cfcf;
    height: 60px;
}
main{
    /* background-color: hsl(39, 37%, 93%); */
    width: 100%;
    height: 100vh;
    
}
header h1{
    padding-left: 140px;
    font-weight: 450;
    font-weight: 500;
}
.switch{
    display: flex;
    gap: 10px;
    padding-right: 130px;
    padding-top: 10px;
    /* background-color: violet; */

}
.switch i{
    /* background-color: violet; */
    padding-top: 3px;

}
.mid{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}
.search{
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 50px; */
    background-color: #888888;
    background-color: white;
    width: 370px;
    height: 40px;
    margin-top: 30px;
    box-shadow: 0px 0px 4px #ffff;

    margin-left: 140px;
    
}
.search i{
    padding-top: 10px;
    /* background-color: violet; */
    font-size: 20px;

}
.drop{
    display: flex;
    padding-right: 50px;
    background-color: white;
    box-shadow: 0px 0px 4px #ffff;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-right: 130px;
}
.filter{
    padding: 20px;
    margin-right: 130px;
}
.filter select{
    padding: 8px 8px 8px 15px;
    width: 170px;
    background-color: white;
    border: none;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 0px 4px #ffff;

    /* background-color: blueviolet; */

}
.drop i{
    padding-top: 10px;
    background-color: violet;
    font-size: 20px;
}
.search input{
    border: none;
    border: transparent;
    border-color: white;

}
.container{
    /* background-color: thistle; */
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr;
    padding-left: 140px;
   
}
.container h1{
    font-weight: 500;
    padding-left: 2rem;
    /* background-color: #888888; */
}
.bio{
    padding-left: 2rem;
    margin-top: 10px;
}
.population{
    padding-left: 2rem;


}
.capital{
    padding-left: 2rem;


}
.read-more {
    padding: 8px 8px 8px 15px;
    background-color: black;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
    margin-top: 10px;

}
.read-more:hover{
    background-color: #888888;
}
.read-more a{
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 0px; */
    color: white;

}

.one{
    width: 320px;
    height: 400px;
    /* background-color: violet; */
    background-color: white;
    /* margin-top: 20px; */
    box-shadow: 0px 0px 4px #ffff;

}
.two{
    width: 320px;
    height: 400px;
    background-color: turquoise;
    background-color: white;

    box-shadow: 0px 0px 4px #ffff;

    
}
.three{
    width: 320px;
    height: 400px;
    background-color: tomato;
    background-color: white;

    box-shadow: 0px 0px 4px #ffff;

}
.four{
    width: 320px;
    height: 400px;
    background-color: yellow;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.five{
    width: 320px;
    height: 400px;
    background-color: thistle;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;

    
}
.five h1{
    font-size: 25px;
}
.six{
    width: 320px;
    height: 400px;
    background-color: steelblue;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.seven{
    width: 320px;
    height: 400px;
    background-color: slateblue;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.eight{
    width: 320px;
    height: 400px;
    background-color: sienna;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.nine{
    width: 320px;
    height: 400px;
    background-color: salmon;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.ten{
    width: 320px;
    height: 400px;
    background-color: seagreen;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.eleven{
    width: 320px;
    height: 400px;
    background-color: rgb(210, 11, 11);
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.twelve{
    width: 320px;
    height: 400px;
    background-color: purple;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.thirteen{
    width: 320px;
    height: 400px;
    background-color: orangered;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;

    
}
.fourteen{
    width: 320px;
    height: 400px;
    background-color: maroon;
    background-color: white;

    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;


}
.fifteen{
    width: 320px;
    height: 400px;
    background-color: gold;
    background-color: white;

    /* background-color: black; */
    margin-top: 40px;
    box-shadow: 0px 0px 4px #ffff;

}
 @media screen and (max-width: 428px){
    header{
        display: flex;
        justify-content: space-between;
        /* background-color: brown; */
    }
    header h1{
        padding: 0px;
        font-size: 15px;
        width: 130px;
        /* background-color: #888888; */
        margin-left: 20px;
        padding-top: 10px;

    }
    .switch{
        display: flex;
        width: 170px;
        padding: 0px;
        justify-content: end;
        margin-right: 20px;
        padding-top: 10px;
    }
    .switch p{
        font-size: 15px;
    }
    .mid{
        display: block;
    }
    .search{
        width: 320px;
        height: 40px;
        border-radius: 5px;
        margin-left: 20px;

    }
    .search i{
        background-color: white;
    }
    .container{
        display: block;
        padding-left: 20px;
    }
    .one{
        width: 300px;
        margin-left: 10px;
    }
    .one img{
        width: 300px;
    }
    .two{
        width: 300px;
        margin-left: 10px; 
        margin-top: 40px;
    }
    .two img{
        width: 300px;
    }
    .three{
        width: 300px;
        margin-left: 10px;
        margin-top: 40px;

    }
    .three img{
        width: 300px;
    }
    .four{
        width: 300px;
        margin-left: 10px;
    }
    .four img{
        width: 300px;
    }
    .five{
        width: 300px;
        margin-left: 10px;
    }
    .five img{
        width: 300px;
    }
    .six{
        width: 300px;
        margin-left: 10px;
    }
    .six img{
        width: 300px;
    }
    .seven{
        width: 300px;
        margin-left: 10px;
    }
    .seven img{
        width: 300px;

    }
    .eight{
        width: 300px;
        margin-left: 10px;
    }
    .eight img{
        width: 300px;

    }
    .nine{
        width: 300px;
        margin-left: 10px;
    }
    .nine img{
        width: 300px;

    }
    .ten{
        width: 300px;
        margin-left: 10px;
    }
    .ten img{
        width: 300px;

    }
    .eleven{
        width: 300px;
        margin-left: 10px;
    }
    .eleven img{
        width: 300px;

    }
    .twelve{
        width: 300px;
        margin-left: 10px;
    }
    .twelve img{
        width: 300px;

    }
    .thirteen{
        width: 300px;
        margin-left: 10px;
    }
    .thirteen img{
        width: 300px;

    }
    .fourteen{
        width: 300px;
        margin-left: 10px;
    }
    .fourteen img{
        width: 300px;

    }
    .fifteen{
        width: 300px;
        margin-left: 10px;
    }
    .fifteen img{
        width: 300px;
    }
} 
